{% extends "base.html" %}

{% block content %}
<h1 class="text-center"> Log In here</h1>

<!-- Registration form -->
<div class="container">
    <form method="POST" actions=" {{ url_for('login') }}">

        <!-- Username input -->
        <div class="form-group">
            <label for="username"> <i class="fas fa-user"></i> Username</label>
            <input type="text" class="form-control" id="username" name="username" placeholder="Enter username"
                aria-describedby="username" minlength="5" maxlength="15" required>
        </div>

        <!-- Password input-->
        <div class="form-group">
            <label for="password"> <i class="fas fa-lock"></i> Password</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="Enter password"
                minlength="5" maxlength="15" required>
        </div>

        <!-- Submit Button -->
        <div class="col text-center">
            <button type="submit" class="btn btn-outline-info">Login</button>
        </div>

    </form>
    <div class="row">
        <div class="col text-center" id="link">
            <p>New here? <a href="{{ url_for('register')}}"> Register here</a>
            </p>
        </div>
    </div>
</div>


{% endblock %}