{% extends "base.html" %}

{% block content %}

<h1 class="text-center"> Register here</h1>

<!-- Registration form -->
<div class="container">
    <form method="POST" actions=" {{ url_for('register') }}">

        <!-- Username input -->
        <div class="form-group">
            <label for="username"> <i class="fas fa-user"> </i> Username</label>
            <input type="text" class="form-control" id="username" name="username"
                placeholder="Create username 5-15 characters in length" aria-describedby="username" minlength="5"
                maxlength="15" required>
        </div>

        <!-- Password input-->
        <div class="form-group">
            <label for="password"> <i class="fas fa-lock"></i> Password</label>
            <input type="password" class="form-control" id="password" name="password"
                placeholder="Create password 5-15 characters in length" minlength="5" maxlength="15" required>
        </div>

        <!-- Submit Button -->
        <div class="col text-center">
            <button type="submit" class="btn btn-outline-info">Register</button>
        </div>
    </form>

    <div class="row">
        <div class="col text-center" id="link">
            Already have an account? <a href="{{ url_for('login')}}"> Log in here</a>
            </p>
        </div>
        <p>
    </div>
</div>

{% endblock %}