{% extends "base.html" %}

{% block content %}

<h2 class="text-center"> Register here</h2>

<div class="container">
    <form method="POST" actions=" {{ url_for('register') }}">

        <!-- Username input -->

        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control" id="username" name="username" aria-describedby="username">
        </div>

        <!-- Password input-->
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" name="username">
        </div>

        <!-- Submit Button -->
        <button type="submit" class="btn btn-primary">Submit</button>

    </form>
</div>



{% endblock %}