{% extends "base.html" %}
{% block content %}

<!-- Hero Image-->
<div id="hero" class="d-flex flex-column justify-content-center align-items-center container">
  <!--Search Form-->
  <h1>Welcome to On My Bookshelf!</h1>
  <p><b>An online book review site where you can browse through book reviews and share your book reviews with others</b></p>
  <form action="{{ url_for('search') }}" method="POST" id="search-form" class="text-center">
    <div class="row text-center">
      <div class="col-sm-12">
        <input type="text" name="query" id="query" class="validate col-sm-12 col-md-8" minlength="3" required
          placeholder="Search by book/author" />
      </div>
      <div class="col-lg">
        <a href="{{ url_for('get_reviews') }}" class="btn"> Reset </a>
        <button type="submit">Search</button>
      </div>
    </div>
  </form>
</div>

<h1>Book Reviews</h1>

<!-- Review card columns -->
<div class="card-columns">
  {% for review in reviews %}
  <!-- Review card -->
  <div class="card">
    <img src="{{ review.book_cover }}" class="card-img-top book-cover" alt="Book cover of {{ review.book_title }} " />
    <div class="card-body">
      <h5 class="card-title"><b>{{ review.book_title }}</b></h5>

      <div class="rating">
        {% if review.rating == "5" %}
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star" aria-hidden="true"></i>

        {% elif review.rating == "4" %}
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star" aria-hidden="true"></i>

        {% elif review.rating == "3" %}
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star" aria-hidden="true"></i>

        {% elif review.rating == "2" %}
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star" aria-hidden="true"></i>

        {% elif review.rating == "1" %}
        <i class="fa fa-star" aria-hidden="true"></i>
        {% endif %}
      </div>
    </div>

    <ul class="list-group list-group-flush">
      <li class="list-group-item"><b>Author:</b> {{ review.author_name }}</li>
      <li class="list-group-item">
        <b>Category:</b> {{ review.category_name }}
      </li>
      <li class="list-group-item">
        <b>Description:</b> {{ review.book_description }}
      </li>
      <li class="list-group-item">
        <b>Reviewed by:</b> {{ review.created_by }}
      </li>
    </ul>
    <!-- Edit & Delete buttons for review creator -->
    {% if session.user == review.created_by %}
    <div>
      <a class="btn btn-outline-info btn-sm" href="{{ url_for('edit_review', review_id=review._id) }}"
        role="button">Edit Review</a>
      <a class="btn btn-outline-dark btn-sm" href="{{ url_for('delete_review', review_id=review._id) }}"
        role="button">Delete Review</a>
    </div>
    {% endif %}
  </div>
  {% endfor %}
</div>


<!-- Scroll to top button -->
<button onclick="topFunction()" id="scrollTop" class="btn btn-info" title="Go to top">
  Top
</button>

{% endblock %}