{% extends "base.html" %}
{% block content %}

<div class="card-columns">
    {% for review in reviews %}
    <div class="card">
        <img src="{{ review.book_cover }}" class="card-img-top" alt="Book cover of {{ review.book_title }} ">
        <div class="card-body">
            <h5 class="card-title">{{ review.book_title }}</h5>
            <p class="card-text">{{ review.category_name }}</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">{{ review.author_name }}</li>
            <li class="list-group-item">{{ review.book_description }}</li>
            <li class="list-group-item">{{ review.reviewed_by }}</li>
            <li class="list-group-item">Reviewed by: {{ review.created_by }}</li>
        </ul>
        <div>
            <a class="btn btn-primary btn-sm" href="{{ url_for('edit_review', review_id=review._id) }}" role="button">Edit Review</a>
            <a class="btn btn-secondary btn-sm" href="#" role="button">Delete Review</a>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
